Telco Customer Churn Prediction Project

## 1. Veri Y√ºkleme ve √ñn ƒ∞nceleme (EDA)

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

df = pd.read_csv("../data/data.csv")

## Veri √ñn ƒ∞≈üleme (Preprocessing)

In [32]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
#df.head()

In [33]:
df['TotalCharges'] = df['TotalCharges'].fillna(0)
df.isnull().sum()
print(df['TotalCharges'].dtype)

float64

In [34]:
df['Churn'].value_counts(normalize=True)

Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

Elimizde Soyle Bir Tablo Var:  
-%73 Mutlu M√º≈üteri (No): Kalmƒ±≈ülar.  
-%26 K√ºsk√ºn M√º≈üteri (Yes): Gitmi≈üler.  
-Bizim burada yapmamƒ±z gereken ≈üeylerden en √∂nemlisi modelimizi eƒüitirken doƒüruluk oranƒ±mƒ±zƒ±n /73 √ºst√º olmasƒ± gerekiyor.  
->√á√ºnk√º biz hi√ßbir ≈üey yapmasak model  Yes / No dese %73 tutturacak zaten.

In [35]:
df.drop('customerID', axis=1,inplace=True)

In [36]:
df.groupby('gender')['Churn'].value_counts(normalize=True)

gender  Churn
Female  No       0.730791
        Yes      0.269209
Male    No       0.738397
        Yes      0.261603
Name: proportion, dtype: float64

√ñzellikleri se√ßerken cinsiyet fakt√∂r√º etkiler mi etkilemez mi diye d√º≈ü√ºn√ºcek olursak bir √ºst  tabloya bakarak karar verebilirsiniz.

In [37]:
df.drop('gender',axis=1,inplace=True)

In [38]:
df.groupby('Churn')[['tenure','MonthlyCharges']].mean(numeric_only=True)

          tenure  MonthlyCharges
Churn
No     37.569965       61.265124
Yes    17.979133       74.441332

Gidenlerin faturasƒ±, kalanlara g√∂re %20 daha pahalƒ±.

In [39]:
df.groupby('Churn')['Contract'].value_counts(normalize=True)

Churn  Contract
No     Month-to-month    0.429068
       Two year          0.318322
       One year          0.252609
Yes    Month-to-month    0.885500
       One year          0.088818
       Two year          0.025682
Name: proportion, dtype: float64

Gidenlerin (Yes) %88'i "Month-to-month" (Taahh√ºts√ºz) s√∂zle≈üme kullanƒ±yormu≈ü.  
Gidenlerin sadece %2'si "Two year" (2 Yƒ±llƒ±k) s√∂zle≈ümeliymi≈ü.

->Modelimizi geli≈ütirme a≈üamasƒ±na ge√ßmeden √∂nce ≈üu analizi iyi yapmƒ±≈ü olmamƒ±z gerekiyor..  
1.Yeni Gelmi≈ü Olmasƒ±  
2.Faturalarƒ± y√ºksek gelmi≈ü  
3.Taahh√ºts√ºz olmasƒ±  
Bizim ≈üirketimizden m√º≈üterinin gitmesine neden olan sebeblerdir.

In [40]:
new_df = df.replace({"Yes":1,"No":0})
df.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Bilgisayarƒ±mƒ±z Yes ve no dan anlamadƒ±ƒüƒ± i√ßin t√ºm 'Yes'=1 yaptƒ±k 'No'=0 yaptƒ±k..

In [41]:
new_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   object
 2   Dependents        7043 non-null   object
 3   tenure            7043 non-null   int64
 4   PhoneService      7043 non-null   object
 5   MultipleLines     7043 non-null   object
 6   InternetService   7043 non-null   object
 7   OnlineSecurity    7043 non-null   object
 8   OnlineBackup      7043 non-null   object
 9   DeviceProtection  7043 non-null   object
 10  TechSupport       7043 non-null   object
 11  StreamingTV       7043 non-null   object
 12  StreamingMovies   7043 non-null   object
 13  Contract          7043 non-null   str
 14  PaperlessBilling  7043 non-null   object
 15  PaymentMethod     7043 non-null   str
 16  MonthlyCharges    7043 non-null   float64
 17  TotalCharges      7043 non-null   float64
 18  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(13), str(2)
memory usage: 1.0+ MB

In [42]:
new_df = pd.get_dummies (new_df, drop_first=True)  #One-Hot Encoding

drop_first=True gereksiz olan s√ºt√ºn√º atƒ±caktƒ±r 3 s√ºt√ºn yerine  2 sutunla idare edicektir.

In [43]:
new_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   tenure                                 7043 non-null   int64
 2   MonthlyCharges                         7043 non-null   float64
 3   TotalCharges                           7043 non-null   float64
 4   Partner_1                              7043 non-null   bool
 5   Dependents_1                           7043 non-null   bool
 6   PhoneService_1                         7043 non-null   bool
 7   MultipleLines_1                        7043 non-null   bool
 8   MultipleLines_No phone service         7043 non-null   bool
 9   InternetService_DSL                    7043 non-null   bool
 10  InternetService_Fiber optic            7043 non-null   bool
 11  OnlineSecurity_1                       7043 non-null   bool
 12  OnlineSecurity_No internet service     7043 non-null   bool
 13  OnlineBackup_1                         7043 non-null   bool
 14  OnlineBackup_No internet service       7043 non-null   bool
 15  DeviceProtection_1                     7043 non-null   bool
 16  DeviceProtection_No internet service   7043 non-null   bool
 17  TechSupport_1                          7043 non-null   bool
 18  TechSupport_No internet service        7043 non-null   bool
 19  StreamingTV_1                          7043 non-null   bool
 20  StreamingTV_No internet service        7043 non-null   bool
 21  StreamingMovies_1                      7043 non-null   bool
 22  StreamingMovies_No internet service    7043 non-null   bool
 23  Contract_One year                      7043 non-null   bool
 24  Contract_Two year                      7043 non-null   bool
 25  PaperlessBilling_1                     7043 non-null   bool
 26  PaymentMethod_Credit card (automatic)  7043 non-null   bool
 27  PaymentMethod_Electronic check         7043 non-null   bool
 28  PaymentMethod_Mailed check             7043 non-null   bool
 29  Churn_1                                7043 non-null   bool
dtypes: bool(26), float64(2), int64(2)
memory usage: 399.0 KB

In [44]:
y = new_df['Churn_1']
X = new_df.drop('Churn_1',axis=1)

In [45]:
from sklearn.model_selection import train_test_split
X_train , X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

Not: Veriyi √∂nce ham haliyle (Scaling olmadan) modele sokup, ba≈üarƒ±sƒ±zlƒ±ƒüƒ± g√∂receƒüiz. Ardƒ±ndan Standartla≈ütƒ±rma (Scaling) yapƒ±p farkƒ± inceleyeceƒüiz.

## 1. Model:  LogisticRegression

In [46]:
from sklearn.linear_model import LogisticRegression
log_R = LogisticRegression(max_iter=5000,class_weight='balanced') #Modeli cezalandƒ±rdƒ±k class_weight ile bunu daha sonradan ekledim
log_R.fit(X_train,y_train)
y_pred = log_R.predict(X_test)

In [47]:
from sklearn.metrics import accuracy_score
accuracy= accuracy_score(y_test,y_pred)
print(accuracy)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix (y_test,y_pred)
print(cm)

0.7501774308019872
[[747 289]
 [ 63 310]]

**Doƒüru Bildiklerimiz (Ye≈üil Alan):**
    * **747 Ki≈üi (True Negative):** Model "Bu m√º≈üteri sadƒ±k, gitmez" dedi ve ger√ßekten de gitmediler.  
    * **310 Ki≈üi (True Positive):** Model "Bu m√º≈üteri gidici, dikkat!" dedi ve ger√ßekten de bu ki≈üiler churn (terk) etti. **(Ba≈üarƒ±mƒ±z burada saklƒ±!)**  

2.  **Yanƒ±ldƒ±klarƒ±mƒ±z (Kƒ±rmƒ±zƒ± Alan):**
    * **289 Ki≈üi (False Positive - Yanlƒ±≈ü Alarm):** Model bu ki≈üilere "Gidecek" dedi ama gitmediler.  
        * *ƒ∞≈ü Yorumu:* Bu ki≈üilere bo≈üuna indirim teklif edebiliriz, ≈üirket biraz maliyet kaybeder ama m√º≈üteri kaybetmez.  
    * **63 Ki≈üi (False Negative - Ka√ßan Balƒ±k):** Model bu ki≈üilere "Gitmez, rahat ol" dedi ama m√º≈üteriler sessizce gitti.  
        * *ƒ∞≈ü Yorumu:* En tehlikeli hatamƒ±z bu. Ama sayƒ±ca az (63 ki≈üi), bu da modelin "Gidenleri Yakalama (Recall)" konusunda gayet iyi olduƒüunu g√∂sterir.  
**SONU√á:** Toplam 373 giden m√º≈üterinin (310 + 63), **310 tanesini (%83)** ba≈üarƒ±yla tespit ettik! üöÄ

ƒ∞lk g√∂revimiz √∂zelliklerin deƒüerlerini 0-1 arasƒ±nda sƒ±kƒ±≈ütƒ±rmak.    
Nedenini sorucak olursanƒ±z modelimiz yanƒ±lgƒ±ya d√º≈ü√ºyor.

In [48]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

->Senior gibi m√ºhendislik takasƒ±nƒ± (trade-off) yaptƒ±k ba≈üarƒ±mƒ±z azaldƒ± ama elde g√∂zle g√∂r√ºl√ºr bir verimiz var.

## 2. Model: StandardScaler Haliyle LogisticRegression

In [49]:
log_R = LogisticRegression(max_iter=3000,class_weight='balanced')
log_R.fit(X_train,y_train)
y_pred = log_R.predict(X_test)
accuracy_1 = accuracy_score(y_test,y_pred)
cm_1 = confusion_matrix(y_test,y_pred)
print(accuracy_1)
print(cm_1)

0.7480482611781405
[[746 290]
 [ 65 308]]

->Fazladan  +85 Ki≈üiyi G√∂rd√º ve Yakaladi.  
->Ka√ßanlar Azaldƒ± Eskiden 151  idi ≈üimdi 65.  
->a12'da biraz sorun olu≈ütu model o kadar dedektif oldu ki gitmeyene de gidicek g√∂z√ºyle baktƒ±.

≈ûimdi burda duralƒ±m bizim baseline'dan ne farkƒ±mƒ±z var!    
->Burda √∂nemli olan d√º≈ü√ºnce baseline tahmin yaparken %50 %50 tahmin yapar ve b√∂yle olursa da ≈üirketten ka√ßa m√º≈üteri tahmini = 0 olur.  
-->Bu durumda bizim hi√ßbir i≈üimize yaramaz.  
--->Bizim modelimiz 308 tane ka√ßan veya ka√ßƒ±cak olan m√º≈üteri yakaladƒ± ba≈üarƒ± oranƒ±mƒ±z %74.8.  
---->≈ûirket √ßalƒ±≈üanƒ± olarak d√º≈ü√ºn√ºcek olursak 308 ki≈üiye %10-%20 arasƒ±nda bir indirim uygulayarak ≈üirketimize m√º≈üteriyi tekrar kazandƒ±rabiliriz.  
Tabloyu incelemek isteyenler a≈üaƒüƒ±daki tabloya iyice bakabilir.

In [50]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.92      0.72      0.81      1036
        True       0.52      0.83      0.63       373

    accuracy                           0.75      1409
   macro avg       0.72      0.77      0.72      1409
weighted avg       0.81      0.75      0.76      1409

"recall" -> True deƒüerine bakalƒ±m 100 m√º≈üteriden 83 √ºn√º doƒüru tahmin ettik.    
Baseline modelimiz bizim 83 olarak bulduƒüumuz deƒüeri  0 olarak tahmin yapar.

Bakalƒ±m s√∂zle≈ümesini iptal edip gidenler neden gitti?

In [51]:
log_R.coef_

array([[ 0.05749907, -1.25252374, -0.85436894,  0.61394192,  0.01805553,
        -0.06853581, -0.00343904,  0.16676418,  0.00343904, -0.29025887,
         0.39658621, -0.13246729, -0.14344377, -0.01948748, -0.14344377,
         0.03454164, -0.14344377, -0.09287449, -0.14344377,  0.22013688,
        -0.14344377,  0.27389903, -0.14344377, -0.28193482, -0.64889622,
         0.15372694, -0.02692245,  0.16106539, -0.01546857]])

En y√ºksek 'POZƒ∞Tƒ∞F' √∂zellik ->S√∂zle≈ümesine son vericek sebebdir.
En d√º≈ü√ºk  'NEGATƒ∞F' √∂zellik->Bizim ≈üirketimizle devam etmek isteyeceklerin sebebidir.

In [52]:
pd.Series(data=log_R.coef_[0],index=X.columns).sort_values()

tenure                                  -1.252524
MonthlyCharges                          -0.854369
Contract_Two year                       -0.648896
InternetService_DSL                     -0.290259
Contract_One year                       -0.281935
StreamingTV_No internet service         -0.143444
OnlineBackup_No internet service        -0.143444
OnlineSecurity_No internet service      -0.143444
DeviceProtection_No internet service    -0.143444
StreamingMovies_No internet service     -0.143444
TechSupport_No internet service         -0.143444
OnlineSecurity_1                        -0.132467
TechSupport_1                           -0.092874
Dependents_1                            -0.068536
PaymentMethod_Credit card (automatic)   -0.026922
OnlineBackup_1                          -0.019487
PaymentMethod_Mailed check              -0.015469
PhoneService_1                          -0.003439
MultipleLines_No phone service           0.003439
Partner_1                                0.018056
DeviceProtection_1                       0.034542
SeniorCitizen                            0.057499
PaperlessBilling_1                       0.153727
PaymentMethod_Electronic check           0.161065
MultipleLines_1                          0.166764
StreamingTV_1                            0.220137
StreamingMovies_1                        0.273899
InternetService_Fiber optic              0.396586
TotalCharges                             0.613942
dtype: float64

-->'TotalCharges' √∂zelliƒüimiz arttƒ±k√ßa m√º≈üterinin  s√∂zle≈ümesini iptal ettiƒüini g√∂rebiliyoruz.  
-->'Tenure' ise ≈üirkete en sadƒ±k olan insanlardƒ±r.

A≈üaƒüƒ±dak kod grubumuza bakƒ±cak olursak RassalAƒüa√ßlar Sƒ±nƒ±flandƒ±rmasƒ± kullanƒ±lmƒ±≈ütƒ±r.    
Ba≈üarƒ± oranƒ±mƒ±zƒ± kƒ±yaslicak olursanƒ±z LogReg Sƒ±nƒ±flandƒ±rmasƒ±na g√∂re daha ba≈üarƒ±sƒ±z olduƒüunu g√∂r√ºcek olursunuz.

In [53]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(class_weight='balanced')
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)
accuracy_2 = accuracy_score(y_test,y_pred)
cm_2 = confusion_matrix(y_test,y_pred)
print(accuracy_2)
print(cm_2)

0.7920511000709723
[[945  91]
 [202 171]]

## 3. Model: Kƒ±sƒ±tlandƒ±rƒ±lmƒ±≈ü RandomForestClassifier

In [54]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(class_weight='balanced')
rfc.fit(X_train,y_train)
y_olasiliklar = rfc.predict_proba(X_test)
yeni_tahmin = (y_olasiliklar[:, 1] > 0.30)
accuracy_2 = accuracy_score(y_test,yeni_tahmin)
cm_2 = confusion_matrix(y_test,yeni_tahmin)
print(accuracy_2)
print(cm_2)

0.7700496806245565
[[814 222]
 [102 271]]

!!815 sadƒ±k m√º≈üteri tahmin etti.  
->2.satƒ±r 1.s√ºt√ºna bakƒ±cak olursanƒ±z yakla≈üƒ±k 100 ki≈üiyi ≈üirketimize geri kazandƒ±rabiliriz.   
->1.satƒ±r 2.s√ºt√ºna bakƒ±cak olursanƒ±z da    
!!Yakla≈üƒ±k 130 tane masum m√º≈üteriye de "Sen gideceksin galiba" dedi.  
≈ûirket i√ßin i√ßin sorun deƒüil %10 luk indirim tanƒ±mladƒ±k .Her ihtimalle kƒ±sƒ±tlanmamƒ±≈ü RandomForest'dan daha iyidir.

## 4. Model: KNN

In [55]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
cm = confusion_matrix(y_test,y_pred)
print(accuracy)
print(cm)

0.7643718949609652
[[885 151]
 [181 192]]

**≈ûu ana kadar hangisi daha iyiydi?**
KNN algoritmasƒ± √ßalƒ±≈ümƒ±≈ü ama sonu√ßlar Random Forest'ƒ±n gerisinde kaldƒ±.    
Bu durumda halen en iyi sƒ±nƒ±flandƒ±rma √ße≈üidimiz -->>LogisticRegression  
Gidenleri yakalama konusunda (Recall) Logistic Regression liderliƒüini koruyor.

## 5. Model: Gradient Boosting (XGBoost)